body { 
	padding-top: 70px; 
	background: url("../images/chicago-skyline.jpg") no-repeat center center scroll;
	background-size: cover;
	background-color: black;
	border-color: transparent;
	color:white;
}
.container {
	background-color: black;
}
.semi_transparent_bg {
	opacity: 0.5;
}
nav {
	font-size: 20px;
}
.navbar-default {
	background-color: transparent;
	border-color: transparent;
}
blockquote {
	background-color: transparent;
	border-color: transparent;
}
video {
	align: right;
}